<html>
    <head>
        <title> Gesture Based Deskstop Control </title>
    </head>
    
    <body>
        <h1>Gesture Control Dashboard</h1>

        <h3>Live Camera Feed</h3>
        <img src="{{ url_for('video_feed') }}" width="600">

        <h2>Status</h2>
        <div>
            Gesture:<span id="Gesture">Loading...</span>
        </div>

        <div>
            Confidence:<span id="Confidence">0</span>
        </div>

        <div>
            Running: <span id="Running">Unknown</span>
        </div>
        
        <br>

        <button onclick="startControl()">Start</button>
        <button onclick="stopControl()">Stop</button>

        <h2>Record New Gesture</h2>
        <input type="text" id="gestureInput" placeholder="Enter Gesture Name">
        <button onclick="collect()">Record 200 Samples</button>
        <p id="collectStatus"></p>
        
        <h2>Train Model</h2>
        <button onclick="trainModel()">Train Now</button>
        <p id="trainStatus"></p>

        <h2>Available Gesture</h2>
        <ul id="gestureL"></ul> 


        <script>
            function gesture_as(){
                fetch("/gesture")
                .then(res=>res.json())
                .then(data => {
                    const list = document.getElementById("gestureL");
                    list.innerHTML= "";

                    data.message.forEach(gesture => {
                        const li = document.createElement("li");
                        const span = document.createElement("span");
                        span.innerText = gesture +  " ";
                        const select = document.createElement("select");
                        const actions = ["play_pause","alt_tab","next track","new_tab"];

                        actions.forEach(action => {
                            const opt  = document.createElement("option");
                            opt.value = action;
                            opt.innerText = action;

                            if (data.map[gesture]==action){
                                opt.selected = true;
                            }

                            select.appendChild(opt);
                        });
                        select.onchange = function(){
                            updateMapping(gesture,select.value);
                        };

                        li.appendChild(span);
                        li.appendChild(select);
                        list.appendChild(li);

                    });
            });
            }

            function updateMapping(gest,act){
                fetch("/update_gesture",{method : "POST", 
                                         headers:{"Content-Type":"application/json"},
                                         body:JSON.stringify({
                                            gesture:gest,
                                            action:act
                                         })
                })
                .then(res =>res.json())
                .then(data => {console.log(data.message);});
            }

            function trainModel(){
                document.getElementById("trainStatus").innerText = "Training Starting...";

                fetch("/train",{method:"POST"})
                .then(res => res.json())
                .then(data =>{ document.getElementById("trainStatus").innerText=data.message;})
                .catch(err =>{ document.getElementById("trainStatus").innerText = "Retraining Failed";});
            }

            function collect() {
                const gesture_name=document.getElementById("gestureInput").value;

                if(!gesture_name){
                    alert("Please Enter Gesture Name");
                    return;
                }
                document.getElementById("collectStatus").innerText = "Starting Collection...";

                fetch("/collect", {method:"POST",
                                   headers:{"Content-Type":"application/json"},
                                   body: JSON.stringify({label : gesture_name})
                })
                .then(res => res.json())
                .then(data => {
                    document.getElementById("collectStatus").innerText = data.message;
                })
                .catch(err => {
                    document.getElementById("collectStatus").innerText = "Error during data collection";
                });

            }

            function updateStatus() {
                fetch("/status")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("Gesture").innerText = data.Gesture;
                    document.getElementById("Confidence").innerText = data.Confidence;
                    document.getElementById("Running").innerText = data.Running;
                });
            }

            function startControl() {
                fetch("/start");
            }

            function stopControl() {
                fetch("/stop");
            }

            setInterval(updateStatus,500);
            updateStatus();
            gesture_as();
        </script>

    </body>
</html>